{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="wrapper">
    <header class="header-mobile">
      <div class="logo"></div>
      <div class="header__container__login" data-headerlogin>fer</div>
      <div class="header__container__nombre" data-headerNombre>fer1</div>
      <button class="open-menu" id="open-menu">
      <i class="bi bi-list"></i>
      </button>
    </header>

<aside>
    <button class="close-menu" id="close-menu">
      <i class="bi bi-x"></i>
    </button>

    <header class="header_full">
      <div class="logo"></div>
      <div class="loggin">
        <div class="header__container__login" data-headerlogin1></div>
        <div class="header__container__nombre" data-headerNombre1></div>
      </div>
    </header>
    <nav>
      <ul class="menu">
        <li>
          <a class="boton-menu boton-menu" href="{% url 'tienda' %}">
            <i class="bi bi-shop"></i>Ingresar al shop
          </a>
        </li>
      </ul>
    </nav>
    <footer>
      <a href="{% url 'quienessomos' %}"><p class="texto-footer">¿Quienes Somos?</p></a>
      <br>
      <p class="texto-footer">© 2023 Remerashop</p>
    </footer>
</aside>
<main class="main_bandera">
    <div class="index_principal">
      <div class="index_titulo">
     
        <h1 id="titulo1"> Remerashop </h1>
      </div>
      <div class="index__frames">
        <div class="div-round">
          <iframe
            class="iframe-round"
            allow="autoplay; encrypted-media; fullscreen"
            src="https://www.youtube.com/embed/OisVNAoLMy0?start=150&autoplay=1"
          ></iframe>
        </div>
        <div class="div-round">
          <iframe
            class="iframe-round"
            allow="autoplay; encrypted-media; fullscreen"
            src="https://www.youtube.com/embed/OQzIOjarMLo?start=0&autoplay=0"
          ></iframe>
        </div>
      </div>
      <div class="index__frames">
        <div class="div-round">
          <iframe
            class="iframe-round"
            allow="autoplay; encrypted-media; fullscreen"
            src="https://www.youtube.com/embed/09WvPnmh5bA?start=0&autoplay=0"
          ></iframe>
        </div>
        <div class="div-round">
          <iframe
            class="iframe-round"
            allow="autoplay; encrypted-media; fullscreen"
            src="https://www.youtube.com/embed/Zv5z0VRia8A?start=0&autoplay=0"
          ></iframe>
        </div>
      </div>
    </div>
</main>
</div>
{% endblock %}