{% extends 'base.html' %}

{% block content %}

<main>
    <div class="main-color-productos">
        <h1>Todos los productos</h1>
        <h2><a href="{% url 'productos:create' %}">CREAR productos</a></h2>
        {% for producto in producto_list%}
        <div class="list">
            <span class="id_productos" >
                <p>{{forloop.counter}}</p>
            </span>
            <span class="titulo_productos">
                <p>{{producto.titulo}}</p>
            </span>
            <span class="detalle_productos>
                <label for="">Detalle: </label>
                <a href="{% url 'productos:detail' producto.id %}">+</a>
            </span>
            <span class="editar_productos>
                <label for="">Editar: </label>
                <a href="{% url 'productos:update' producto.id %}">+</a>
            </span>
            <span class="borrar_productos>
                <label for="">Borrar: </label>
                <a href="{% url 'productos:delete' producto.id %}">+</a>
            </span>
        </div>

        {% endfor %}
    </div>
</main>
{% endblock %}